<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>可视化度量平台</title>
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap-table.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/bootstrap/animate.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrapValidator.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap-datetimepicker.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap-editable.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/bootstrap/style.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/DefaultSkin.css" type="text/css"/>
    <link rel="stylesheet" href="css/toastr.min.css" type="text/css"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../resources/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/toastr.min.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/jquery.serializejson.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/moment-with-locales.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap-table-editable.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap-editable.js"></script>
    <script type="text/javascript" src="../../resources/js/comm/datagrid-header-tooltip.js"></script>
    <script type="text/javascript" src="js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../../resources/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../resources/js/comm/comm.js"></script>
    <!--    <script type="text/javascript" src="js/basic.js"></script>-->
    <script type="text/javascript" src="../../resources/js/comm/bootstrap-message.js"></script>
    <style>
        .top {
            width: 97%;
            height: 250px;
            margin-left: 20px;
            margin-right: 40px;
            margin-top: 20px;
            /*border: 1px silver solid;*/
            background: white;
            border-radius: 10px;
        }
    </style>
</head>
<body style="background: #F1F2F6;">
<div style="width: 100%;height:100%;">
    <div class="top">
        <h3 style="margin-left: 20px;padding-top: 10px;">基本配置流程</h3>
        <div>
            <img src="images/base-config.png" style="width: 100%;height: 100%;">
        </div>
    </div>
    <div></div>
</div>
</body>
</html>
