<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>可视化度量平台</title>
<link rel="stylesheet" href="css/DefaultSkin.css" type="text/css" />
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
<link rel="stylesheet" href="../../resources/bootstrap/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="../../resources/bootstrap/bootstrap-select.min.css" type="text/css" />
<link rel="stylesheet" href="../../resources/js/sui.css" type="text/css" />
<link rel="stylesheet" href="../../resources/js/handsontable/handsontable.full.min.css" />
<link rel="stylesheet" href="../../resources/js/color/spectrum.css" />
<link rel="stylesheet" href="../HTML/css/toastr.min.css" type="text/css" />
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../resources/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../resources/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../resources/bootstrap/bootstrap-select.min.js"></script>
<script type="text/javascript" src="../../resources/js/comm/datagrid-header-tooltip.js"></script>
<script type="text/javascript" src="js/echarts.common.min.js"></script>
<script type="text/javascript" src="../../resources/underscore/underscore.js"></script>
<script type="text/javascript" src="../HTML/js/toastr.min.js"></script>
<script src="../../resources/js/color/spectrum.js"></script>
<script src="../../resources/js/handsontable/handsontable.full.min.js"></script>
<script src="../../resources/js/handsontable/languages/all.js"></script>
<script type="text/javascript" src="../../resources/js/comm/comm.js"></script>
<script type="text/javascript" src="js/competenceMap.js"></script>
<script type="text/javascript" src="../HTML/js/comm/HandsontableComm.js"></script>
<style>
	.fontBoxColor>div>.color-icon-image{
		width: 15px;
		height: 20px;
		margin-top: -22px;
		background: url(/mvp/view/HTML/images/font-color.png);
		background-repeat: round;
		margin-left: 4px;
	 }
</style>
</head>


<body class="mvp-body">

<div class="mvp-main" style="background-color: #fff;padding: 10px;">
	<div style="height: 40px;">
		<span style="font-size: 18px;">能力地图</span>
		<button id="savaDevelopmentProcess" style="float: right;border: 1px #e41f2b solid;background-color: #e41f2b;width: 80px;height: 25px;color: white;border-radius: 5px;outline: none;">保存</button>
		背景色:<input id="color-box-background" />
		字体颜色:<input id="color-box-color" />
    </div>
	<div id="developmentProcess" style="font-size: 14px;"></div>
</div>

</body>
</html>