<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>可视化度量平台</title>
<link rel="stylesheet"
	href="../../resources/easyui/themes/default/easyui.css" type="text/css" />
<link rel="stylesheet"
	href="../../resources/bootstrap/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/DefaultSkin.css" type="text/css" />
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="../../resources/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../resources/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../../resources/js/comm/datagrid-header-tooltip.js"></script>
<script type="text/javascript" src="js/echarts.common.min.js"></script>
<script type="text/javascript"
	src="../../resources/underscore/underscore.js"></script>
<script type="text/javascript" src="../../resources/js/comm/comm.js"></script>
<script type="text/javascript" src="js/developIndexYH.js"></script>
<style>
.breadcrumb>.active {
	color: #333333;
}

.breadcrumb {
	background-color: #fff;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	padding: 8px 0px;
}

.change-chart table.data-table tbody td {
	line-height: 25px;
	height: 18px;
	/*white-space: nowrap*/
}

.change-chart table.data-table thead td {
	line-height: 25px;
	height: 18px;
	/*white-space: nowrap;*/
}

.home-content {
	
}
</style>
</head>
<body >
	<div id="allTable">

	</div>
	<!-- 表格
	<div style="margin: 20px;">
		<div>
			<span>需求交付率</span>
		</div>
		<div class="modal-body change-chart"
			style="width: 100%; padding: 0px;">
			<table id="table_xqjfl" style="width: 100%" border="0" cellspacing="0"
				cellpadding="0" class="data-table">
				<thead>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div> -->
</body>
</html>