<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>可视化度量平台</title>

    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap-select.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/easyui/themes/default/easyui.css" type="text/css"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/DefaultSkin.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/css/bootstrap-table.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/toastr.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap-editable.css" type="text/css"/>
    <link rel="stylesheet" href="../../resources/css/style.css" type="text/css"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../resources/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../resources/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../../resources/js/comm/datagrid-header-tooltip.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../resources/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../resources/js/comm/comm.js"></script>
    <script type="text/javascript" src="js/toastr.min.js"></script>
    <script type="text/javascript" src="../../resources/css/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../../resources/js/comm/bootstrap-message.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap-table-editable.js"></script>
    <script type="text/javascript" src="js/projectOperationClone.js"></script>
	<style>
		.popover-content {
			margin: 25px;
			padding: 0px;
			text-align: center;
			background-color: #fff;
			border-radius: 5px;
			word-wrap: break-word;
			word-break: break-all;
			overflow: hidden;
		}
		.fixed-table-toolbar {
			 display: none;
        }
        .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
            border-bottom-width: 0px !important;
        }
        .table-bordered {
            border: 0px solid #dddddd !important;
        }
	</style>
</head>
<body style="background: #F1F2F6; height: auto;">
<div id="myTab" class="popover-content">
	<div style="color: #333333; padding: 0; width:100%;">
		<table id="myTable" border="0" cellspacing="0" cellpadding="0" class="table text-nowrap"></table>
	</div>
</div>
</body>
</html>

