<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>可视化度量平台</title>
    <link rel="stylesheet" href="../../resources/easyui/themes/default/easyui.css" type="text/css" />
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../resources/ztree/zTreeStyle.css" type="text/css" />    
    <link rel="stylesheet" href="css/DefaultSkin.css" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>    
    <script type="text/javascript" src="../../resources/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/ztree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../resources/js/comm/datagrid-header-tooltip.js"></script>
    <script type="text/javascript" src="js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../../resources/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../resources/js/comm/comm.js"></script>
    <!-- <script type="text/javascript" src="js/roleManage.js"></script> -->
    <style>
    	/* .checkbox{
    		width:15px;
    		height:15px;
    	} */
    	#nav { 
			width:30px; height: 65px;  position:fixed;right:2px;top:50%;z-index: 9999;
		}
		.retop{
			width:30px;height:30px;float:right;margin-top: 2px;
		}
		.retop2{
			float:right;margin-top: 2px;
		}
		.retop span{
			color:white;
		}
		.tablenew tbody tr:nth-child(odd) td{
			background-color:#fafafa;
		}
		.tablenew tbody tr:nth-child(even) td{
			background-color:#ecf5ff;
		}
		.tablenew thead tr {
			font-size: 14px;height: 30px;background-color: #d9dada;
		}
		.tablenew thead tr td{
			font-weight: normal;text-align: center;border-right: 2px #ffffff solid;border-bottom:2px #ffffff solid;
		}
		.tablenew tbody tr td{
			font-weight: normal;text-align: center;border-right: 2px #ffffff solid;border-bottom:2px #ffffff solid;
		}
		.tablenew {
			font-size: 14px;text-align: center;float: left;border-spacing: 0px;
		}
		.tablenew tbody a{
			cursor:pointer;
		}
	</style>
    <script type="text/javascript">
	    //回到顶部
		function callback(){
			$("html,body").animate({scrollTop:0}, 200);
		};
    </script>
</head>
<body>	
   <div class="" id="search" style="height: 80px;margin-top:50px;">
  		<fieldset id="fieldset" style="position:relative; top: 1px; width:94%; height:75%; margin:0 auto; background-color: #ffffff; border: 2px #dddddd solid;">
         <table width="100%" class="change-chart1">
            <tr style="height: 50px; line-height: 50px;">
                <td class="td1" width="8%" align="left">
                 	   角色名称
                </td>
                <td width="25%" align="left" style="padding-left: 11px;padding-right: 15px;">
                    <input name="importRoleName" type="text" class="s3" placeholder="请输入角色名称" id="importRoleName" style="width: 230px;">
                </td>  
                <td align="left" style="text-align: left;">
                    <input name="" type="button" value="查询" class="but1" id="but1" onclick="but1()" style="width:90px; height:38px; background-color:#367FA9; color:#ffffff; cursor:pointer; border:none; border-radius:4px; font-size:12px;margin-left: 40px; line-height: 38px;">
                </td>                         
            </tr>            
         </table>
		</fieldset>
    </div>
    <div class="" id="tools" style="height: 80px;">
    	<input name="" type="button" value="新增角色" class="but2" id="but2" onclick="but2()" style="width:90px; height:38px; background-color:#367FA9; color:#ffffff; cursor:pointer; border:none; border-radius:4px; font-size:12px;margin-left: 40px; line-height: 38px;">
    	<!-- <input name="" type="button" value="查看角色" class="but3" id="but3" onclick="but3()" style="width:90px; height:38px; background-color:#367FA9; color:#ffffff; cursor:pointer; border:none; border-radius:4px; font-size:12px;margin-left: 20px; line-height: 38px;">
    	<input name="" type="button" value="编辑角色" class="but4" id="but4" onclick="but4()" style="width:90px; height:38px; background-color:#367FA9; color:#ffffff; cursor:pointer; border:none; border-radius:4px; font-size:12px;margin-left: 20px; line-height: 38px;">
    	<input name="" type="button" value="删除角色" class="but5" id="but5" onclick="but5()" style="width:90px; height:38px; background-color:#367FA9; color:#ffffff; cursor:pointer; border:none; border-radius:4px; font-size:12px;margin-left: 20px; line-height: 38px;">
     	-->
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="padding-right: 10px;">
                <div style="width: 100%;color: #333333;">
                	<div style="margin: 10px;border-color: #ddd;border-width: 1px;border-radius: 3px;border-style: solid;">
                    	<div style="height: 45px;border-bottom: 5px #ddd solid;">
                    		<div style="border-right: 1px #367FA9 solid;height: 40px;width: 98px;float: left;">
                    			<span style="float: left;font-size: 16px;margin: 8px 10px 8px 20px;">角色配置</span>
                    		</div>
                    		<div style="border-right: 2px #367FA9 solid;height: 40px;width: 4px;float: left;"></div>
                    		<div id="edit" data_obj="1" style="margin: 8px 18px 8px 8px;float: right; display: none;">
	                    		<a onclick="tableEdit('edit','guanjianjuesedo')" style="font-size: 14px;color: #367FA9;cursor: pointer;">
	                    			<i><img  style="margin: 2px;" src="images/editicon.png" alt="编辑" width="17px" height="17px"/></i><span>编辑</span>
	                    		</a>
                    		</div>
                    	</div>
                    	<div style="display: flex;;margin-top: 5px;width: 100%;">
	                    	<table id="xiaolv" class="tablenew" width="100%">
	                    		<thead>
	                    			<tr>
										<td style="width: 3%;"></td>
										<td style="width: 16%;">角色名称</td>
										<td style="width: 16%;">角色描述</td>
										<td style="width: 16%;">操作时间</td>
										<td style="width: 16%;">操作人</td>
										<td style="width: 16%;">操作</td>
	                    			</tr>
	                    		</thead>
 								<tbody>
 									<tr>
										<td style="width: 3%;">1</td>
										<td style="width: 16%;">admin</td>
										<td style="width: 16%;">系统管理员</td>
										<td style="width: 16%;">2018-5-29 15:06</td>
										<td style="width: 16%;">111111</td>
										<td style="width: 16%;">
											<a class="but3" id="but3" onclick="but3()">查看</a>
											<a class="but4" id="but4" onclick="but4()">编辑</a>
											<a class="but5" id="but5" onclick="but5()">删除</a>
										</td>
	                    			</tr>
	                    		</tbody>
	                    	</table>
                    	</div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    
    <div class="modal fade" id="labelMeasure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="top: 100px;width: 700px;margin-left: -50px;">
				<div class="modal-header" style="border-bottom-width: 5px;padding-top: 10px;padding-bottom: 10px; line-height: 100%;">
					<h4 class="modal-title" id="uploadModalLabel" style="display: inline; margin-right: 400px;">
						编辑角色
					</h4>
					<button type="button" data-dismiss="modal" style="border:1px #367FA9 solid; background-color: white; color: #367FA9; border-radius: 4px; width: 60px; height: 32px; margin-right: 15px;outline: none;">关闭</button>
					<button type="button" id="saveLabelMeasure" onclick="saveRole();" data-dismiss="modal" style="border:1px #367FA9 solid; background-color: #367FA9; color: white; border-radius: 4px; width: 60px; height: 32px;outline: none;">保存</button>
				</div>
				<div class="modal-body" style="width: 96%;">
					<fieldset id="fieldset" style="position:relative; top: 1px; width:100%; height:75%; margin:0 auto; background-color: #ffffff;">
			         <table width="100%" class="change-chart1">
			            <tbody><tr style="height: 50px; line-height: 50px;">
			                <td class="td1" width="10%" align="left">
			                 	   角色名称
			                </td>
			                <td width="25%" align="left" style="padding-left: 11px;padding-right: 15px;">
			                    <input name="roleName" type="text" class="s3" placeholder="请输入角色名称" id="roleName" style="width: 220px;">
			                    <span style="color:#f00;float:right;height:30px;line-height:30px;">*</span>
			                </td>  
			                <td class="td1" width="10%" align="left">
			                 	   角色描述
			                </td>
			                <td width="25%" align="left" style="padding-left: 11px;padding-right: 15px;">
			                    <input name="roleDet" type="text" class="s3" placeholder="请输入角色描述" id="roleDet" style="width: 220px;">
			                </td> 
			                <input name="roleId" type="hidden" id="roleId" />                        
			            </tr>        
			         </tbody></table>
					</fieldset>
					<fieldset id="fieldset1" style="position:relative; top: 1px; width:100%; height:75%; margin:10px auto 20px; background-color: #ffffff;">			        	
		        		<span style="float:left;font-size: 14px;color: #333333;width:64px;text-align:right;">角色权限</span>
		        		<div style="float:left;width:86%;height:400px;border:1px solid #617775;margin-left: 11px;overflow:auto;background-color: #F0F0F0;">
		        			 <ul id="roleTree" class="ztree"></ul>
		        		</div>			        	
					</fieldset>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="savetoop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" style="top: 300px;">
					<div class="modal-body" style="padding: 15px;">
						<div style="text-align: center;">
							<span id="dataAcquisition" style="font-size: 14px;">保存成功</span>
						</div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


   <div class="modal fade" id="myDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	   <input type="hidden" id="rId"/>
	   <div class="modal-dialog">
		   <div class="modal-content">
			   <div class="modal-header">
				   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				   <h4 class="modal-title" id="myModalLabel">提示</h4>
			   </div>
			   <div class="modal-body">确定要删除该角色吗？</div>
			   <div class="modal-footer">
				   <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				   <button type="button" class="btn btn-primary" id="delRole">确定</button>
			   </div>
		   </div><!-- /.modal-content -->
	   </div><!-- /.modal -->
   </div>
	
	
	
	<script type="text/javascript">
	/* (function(){ */
		//变量
		var zNodes=[];//树节点数组
		var dataPiece=null;//每个父节点的子节点
		var saveState=1;//弹窗状态  新增1 编辑2
		
		//获取cookie
		function getCookie(name){
		   var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
		   if(arr != null){
		     return unescape(arr[2]); 
		   }else{
		     return null;
		   }
		};
		
		function showPopover(msg) {
			$('#dataAcquisition').text(msg);
			$('#submitImportmodalfooter').css('display','none');
			$('#savetoop').modal('show');
			//2秒后消失提示框
			var id = setTimeout(function () {
				$('#savetoop').modal('hide');
			}, 2000);
		}
		function showPopoverErr(msg) {
			$('#dataAcquisition').text(msg);
			$('#submitImportmodalfooter').css('display','block');
			$('#savetoop').modal('show');
		}
		function hidePopover() {
			$('#savetoop').modal('hide');
		}
		
		//获取角色信息列表
	  	function getRoleInfo(){
	  		$.ajax({
	  			url: getRootPath() + '/sysRole/list',
	  			type: 'post',
	  			async: false,
	  			data: {},
	  			success: function (data) {
	  				if(0==data.status){
	  				    var html='';
						if(data.data.length>0){
						    $.each(data.data,function(i,obj){
						        if(obj.manageRole&&null!=obj.manageRole){
                                    obj.manageRole=obj.manageRole;
								}else{
                                    obj.manageRole='';
								}
						        html+='<tr>'
                                    + '<td style="width: 3%;">'+(i+1)+'</td>'
                                    + '<td style="width: 16%;">'+obj.roleName+'</td>'
                                    + '<td style="width: 16%;">'+obj.manageRole+'</td>'
                                    + '<td style="width: 16%;">'+obj.operateTime+'</td>'
                                    + '<td style="width: 16%;">'+obj.operateUser+'</td>'
                                    + '<td style="width: 16%;">'
                                    +'<a data-id="'+obj.roleId+'" style="margin-right: 15px">查看</a>'
                                    +'<a data-id="'+obj.roleId+'" style="margin-right: 15px">编辑</a>'
                                    +'<a data-id="'+obj.roleId+'">删除</a>'
                                    + '</td></tr>';
                            });

						}
						$('#xiaolv tbody').html(html);
					}
	  			}
	  		});
	  	};
		
		
	  	//查询
		function but1(){
			var importRoleName = $("#importRoleName").val();		
			$.ajax({
				url: getRootPath() + '/sysRole/list',
				type: 'post',
				async: false,
				data: {
					roleName: importRoleName
				},
				success: function (data) {
					if(0==data.status){
	  				    var html='';
						if(data.data.length>0){
						    $.each(data.data,function(i,obj){
						        if(obj.manageRole&&null!=obj.manageRole){
                                    obj.manageRole=obj.manageRole;
								}else{
                                    obj.manageRole='';
								}
						        html+='<tr>'
                                    + '<td style="width: 3%;">'+(i+1)+'</td>'
                                    + '<td style="width: 16%;">'+obj.roleName+'</td>'
                                    + '<td style="width: 16%;">'+obj.manageRole+'</td>'
                                    + '<td style="width: 16%;">'+obj.operateTime+'</td>'
                                    + '<td style="width: 16%;">'+obj.operateUser+'</td>'
                                    + '<td style="width: 16%;">'
                                    +'<a data-id="'+obj.roleId+'" style="margin-right: 15px">查看</a>'
                                    +'<a data-id="'+obj.roleId+'" style="margin-right: 15px">编辑</a>'
                                    +'<a data-id="'+obj.roleId+'">删除</a>'
                                    + '</td></tr>';
                            });

						}
						$('#xiaolv tbody').html(html);
					}
				}
			});
		}	
		
		
		//新增角色
		function but2(){
            $('#saveLabelMeasure').css('display','inline-block');
			$('#roleName').val('');
			$('#roleDet').val('');
			$('#roleName').attr("placeholder","请输入角色名称");
            $('#roleDet').attr("placeholder","请输入角色描述");
            $('#roleName').attr("readonly",false);            
            $('#roleDet').attr("readonly",false);
			$('#uploadModalLabel').text('新增角色');
			saveState=1;
			getZNodes();			
			$('#labelMeasure').modal({
				backdrop: 'static',
				keyboard: false
		    });
			$("#labelMeasure").modal('show');	
		}
		
		//查看角色
		$('#xiaolv tbody').on('click','a:nth-child(1)',function(){
            $('#saveLabelMeasure').css('display','none');
			var roleId=$(this).attr("data-id");
			var roleName=$(this).parent().parent().find('td:nth-child(2)').html();
			var roleDet=$(this).parent().parent().find('td:nth-child(3)').html();
			lookOverRole(roleId);
            var treeObj = $.fn.zTree.getZTreeObj("roleTree");
            var node = treeObj.getNodes();
            var nodes = treeObj.transformToArray(node);
            for (var i = 0; i < nodes.length; i++) {
                treeObj.setChkDisabled(nodes[i], true);
            }
            $('#roleName').val(roleName);            
            $('#roleDet').val(roleDet);
            $('#roleName').attr("placeholder","");
            $('#roleDet').attr("placeholder","");
            $('#roleName').attr("readonly",true);            
            $('#roleDet').attr("readonly",true);
            $('#uploadModalLabel').text('查看角色');
            $('#labelMeasure').modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#labelMeasure").modal('show');
		});
		
		//查看
		function lookOverRole(roleId){
			$.ajax({
				url: getRootPath() + '/sysRole/view',
				type: 'post',
				async: false,
				data: {roleId:roleId},
				success: function (data) {
                    zNodes=[];
					handleData(data.data);					
				}
			});
    	  zTreeObj = $.fn.zTree.init($("#roleTree"), setting, zNodes);
		}
		
		//编辑角色
		$('#xiaolv tbody').on('click','a:nth-child(2)',function(){
            $('#saveLabelMeasure').css('display','inline-block');
            var roleId=$(this).attr("data-id");
            var roleName=$(this).parent().parent().find('td:nth-child(2)').html();
            var roleDet=$(this).parent().parent().find('td:nth-child(3)').html();
			$('#roleName').val(roleName);
			$('#roleDet').val(roleDet);
            $('#roleId').val(roleId);
			$('#roleName').attr("placeholder","请输入角色名称");
            $('#roleDet').attr("placeholder","请输入角色描述");
            $('#roleName').attr("readonly",false);            
            $('#roleDet').attr("readonly",false);
			$('#uploadModalLabel').text('编辑角色');
			saveState=2;
            lookOverRole(roleId);
			$('#labelMeasure').modal({
				backdrop: 'static',
				keyboard: false
		    });
			$("#labelMeasure").modal('show');
		});
		
		//删除角色
		$('#xiaolv tbody').on('click','a:nth-child(3)',function(){
            var roleId=$(this).attr("data-id");
		    $('#rId').val(roleId);
            $("#myDel").modal('show');


		});

		$('#delRole').click(function(){
            $.ajax({
                url: getRootPath() + '/sysRole/del',
                type: 'post',
                async: false,
                data: {roleId:$('#rId').val()},
                success: function (data) {
                    if(0==data.status){
                        showPopover('删除成功！');
                    }else if(1==data.status){
                        showPopover(data.msg);
            	}
                    getRoleInfo();
                }
            });
		});
		
		function onCheck() {
		   var treeObj = $.fn.zTree.getZTreeObj("roleTree"); //获取树对象
		   var nodes = treeObj.getCheckedNodes(true);  //获取勾选状态改变的节点
		   var designIds = [];		   
		   $.each(nodes, function (i, item) {
			   if(!item.isParent){
				  designIds.push(item.path);      //将状态改变的节点id输出到数组
			   }
			   item.checkedOld = item.checked;    //这句话很关键，将节点的初始状态置为当前状态。否则每次勾选操作获取状态改变节点时只会跟树初始化的状态相比较。
		   });
		   return designIds;
		 };
		
		//弹窗点击完成
		function saveRole(){
			var url,data;
			var roleName=$('#roleName').val();
            var roleAuth='';
			var manageRole=$('#roleDet').val();
            var roleId=$('#roleId').val();
			var roleAuthArr=onCheck();
			$.each(roleAuthArr,function(i,obj){
                roleAuth+=obj+','
			});
            roleAuth=roleAuth.substr(0,roleAuth.length-1);
			var operateUser=getCookie('username');
			if(''==$.trim(roleName)){showPopover("角色名称不能为空！");return}	
			if(1==saveState){
				url=getRootPath() + '/sysRole/add';

				data={
					"roleName":roleName,
					"roleAuth":roleAuth,
					"manageRole":manageRole,
					"operateUser":operateUser						
				};
			}else if(2==saveState){
				url=getRootPath() + '/sysRole/edit';
                data={
                    "roleId":roleId,
                    "roleName":roleName,
                    "roleAuth":roleAuth,
                    "manageRole":manageRole,
                    "operateUser":operateUser
                };
			}
			
			$.ajax({
				url: url,
				type: 'post',
				async: false,
				data:data,
				success: function (data) {
					if(0==data.status){
						showPopover('保存成功！');
                        getRoleInfo();
					}else{
                        showPopover(data.msg);
                        return
					}

				}
			});
			
		}
		
		
		
		
		var setting = {
				view: {
		              selectedMulti: true, //设置是否能够同时选中多个节点
		                showIcon: true,      //设置是否显示节点图标
		                showLine: true,      //设置是否显示节点与节点之间的连线
		                showTitle: true,     //设置是否显示节点的title提示信息
		            },
		            data: {
		                 simpleData: {
		                	  enable: true,   //设置是否启用简单数据格式（zTree支持标准数据格式跟简单数据格式，上面例子中是标准数据格式）
		                      idKey: "id",     //设置启用简单数据格式时id对应的属性名称
		                      pidKey: "pId"    //设置启用简单数据格式时parentId对应的属性名称,ztree根据id及pid层级关系构建树结构
		                }
		            },
		            check:{
		            	enable: true
		            },
		            /* async: {
		                enable: true,                      //设置启用异步加载
		                type: "get",                       //异步加载类型:post和get
		                contentType: "application/json",   //定义ajax提交参数的参数类型，一般为json格式
		                url: "/Design/Get",                //定义数据请求路径
		                autoParam: ["id=id", "name=name"]  //定义提交时参数的名称，=号前面标识节点属性，后面标识提交时json数据中参数的名称
		            } */
	            
	        };
	 	
	      function getZNodes(){
	    	  $.ajax({
					url: getRootPath() + '/opDepartment/optTree',
					type: 'post',
					async: false,
					data: {},
					success: function (data) {
                        zNodes=[];
						handleData(data.data);						
					}
				});
	    	  console.log(zNodes);
	    	  zTreeObj = $.fn.zTree.init($("#roleTree"), setting, zNodes);
	      }
	      
	      //处理返回的树数据
	      function  handleData(dataPiece){	
			if(dataPiece.children&&null!=dataPiece.children&&''!=dataPiece.children){
				if(dataPiece.checked&&true==dataPiece.checked){
					var check = true;
				}else{
					var check = false;
				}
				if(0==dataPiece.level){
                    zNodes.push({id:dataPiece.id,pId:dataPiece.pId,name:dataPiece.name,path:dataPiece.path,isParent:true,open:true,checked:check});
				}else{
                    zNodes.push({id:dataPiece.id,pId:dataPiece.pId,name:dataPiece.name,path:dataPiece.path,isParent:true,checked:check});
				}

				$.each(dataPiece.children,function(i,obj){
					handleData(obj);
				});
			}else{
				if(dataPiece.checked&&true==dataPiece.checked){
					var check = true;
				}else{
					var check = false;
				}
				zNodes.push({id:dataPiece.id,pId:dataPiece.pId,name:dataPiece.name,path:dataPiece.path,checked:check});
			}			
		  }
	    
	  	
	  	$(document).ready(function(){
	  		 getRoleInfo();
	  	});	  	
/* 	})(); */
		
	</script>
</body> 
</html>
