<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>可视化度量平台</title>
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../resources/bootstrap/bootstrap-select.min.css" type="text/css" />
    <link rel="stylesheet" href="../../resources/easyui/themes/default/easyui.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/DefaultSkin.css" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../resources/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../resources/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resources/bootstrap/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../../resources/js/comm/datagrid-header-tooltip.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../../resources/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../resources/js/comm/comm.js"></script>
    <script type="text/javascript" src="js/selectComm.js"></script>
    <script type="text/javascript" src="js/xiangmuhege.js"></script>
    <style>
    .home-text{
    	color: #666; font-size: 18px; font-weight:400; margin: 10px 0px 10px 20px;
    }
    .homeSelect{
    	float:right; width:153px; height:32px; margin-left: 6px;
    }
	.mains{
		width:auto; height:auto; position:absolute; top:0px; left:0px; right:0px; bottom:0px; background:#f7f8f8;
	}
	.panel-header, .panel-body{
		width:calc(100%)!important;
	}
    </style>
</head>
<body style="line-height: 24px;background: #f7f8f8;">
    <div class="mains" style="padding:0;">
    	<div style="margin-top: 20px;margin-left: 30px;width:95%;height:40px;">
	    	<span style="float:left;width:100px;font-size: 20px;font-weight: bold;line-height: 32px;color: #666;">目标总览</span>
			<!-- 中软 -->
			<div class="homeSelect" id="select8" style="display: none;">
				<select onchange="selectOnchange()" id="usertype8" name="usertype" title="请选择交付部" class="selectpicker show-tick form-control" multiple data-live-search="false">
				</select>
			</div>
			<div class="homeSelect" id="select7">
    			<select onchange="selectOnchange()" id="usertype7" name="usertype" title="请选择事业部" class="selectpicker show-tick form-control" multiple data-live-search="false">
				</select>
    		</div>
			<div class="homeSelect" id="select6">
	    		<select onchange="selectOnchange()" id="usertype6" name="usertype" title="请选择业务线" class="selectpicker show-tick form-control" multiple data-live-search="false">
				</select>
    		</div>
    		<!-- 华为 -->
    		<div class="homeSelect" style="display: none;" id="select5">
				<select onchange="selectOnchange()" id="usertype5" name="usertype" title="请选择PDU/SPDT" class="selectpicker show-tick form-control" multiple data-live-search="false">
				</select>
			</div>
			<div class="homeSelect" style="display: none;" id="select4">
    			<select onchange="selectOnchange()" id="usertype4" name="usertype" title="请选择子产品线" class="selectpicker show-tick form-control" multiple data-live-search="false">
				</select>
    		</div>
			<div class="homeSelect" style="display: none;" id="select3">
	    		<select onchange="selectOnchange()" id="usertype3" name="usertype" title="请选择华为产品线" class="selectpicker show-tick form-control" multiple data-live-search="false">
				</select>
    		</div>
    		<!-- 地域 -->
    		<div class="homeSelect" id="select1" style="display: none;">
	    		<select onchange="selectOnchange()" id="usertype1" name="usertype" title="请选择地域" class="selectpicker show-tick form-control" multiple data-live-search="false">
				</select>
    		</div>
    		<div class="homeSelect" style="display: none;">
	            <select id="usertype2" name="usertype" title="请选择状态" class="selectpicker show-tick form-control" multiple data-live-search="false">
	                <option value="在行">在行</option>
	                <option value="关闭">关闭</option>
	       		</select>
			</div>
			<div class="homeSelect" id="select">
				<select onchange="selectChange()"  id="selectBig" name="select" title="中软&华为" class="selectpicker show-tick form-control"  data-live-search="false">
					<option value='1' selected="selected">中软</option>
					<option value='2'>华为</option>
					<option value='3'>地域</option>
				</select>
			</div>
			<!-- <input class="homeSelect" type="text" id="datepicker" placeholder="请选择月份" style="border: 1px #999999 solid; background-color: transparent; width: 150px; height: 32px; padding-left: 30px; font-size: 14px; background-image: url(images/dateicon.png); /*引入图片图片*/ background-repeat: no-repeat; /*设置图片不重复*/ background-position: 5px 7px;border: 1px #cccccc solid;border-radius: 4px;background-color: #ffffff;" /> -->
    	</div>
		<div style="height:400px;width:96%;float:left;background-color: white;margin: 20px 30px 15px 30px">
	        <div class="home-text">
	            <span>质量目标达成分析</span>
	        </div>
	        <div id="reachStandard" class="home-content" style="width:100%;">
	        	<div id="reachStandardBar" style="float: left;width: 65%; height: 500px;"></div>
        		<div id="reachStandardPie" style="float: left;width: 35%; height: 300px;"></div>
	        </div>
		</div> 
		<div id="unreached" style="display:none;width:98%;float:left;background-color: white;margin: 15px 10px 15px 10px">
	        <div class="home-text">
	            <span>质量目标未达成项目</span>
	        </div>
	        <div class="home-content">
	        	<div style="width:100%; margin:10px auto 0 auto; background-color: #fafafa; ">
     				<div id="projSummaryTable" style="display:block;width:100%;"></div> 
   				</div>
	        </div>
		</div> 
	</div>
    <script type="text/javascript">
		//回到顶部
		function callback(){
			$("html,body").animate({scrollTop:0}, 200);
		};
		function changeFrameHeight() {
			var ifm = window.parent.document.getElementById("myiframe");
			ifm.height = 800;
	    };
		window.onresize=function(){ 
		//	changeFrameHeight();
		}
		var myCharts1;
		var myCharts2;
		var deptId=new Array();
		function lowlocPDU(){
			$.ajax({
				url: getRootPath() + '/projectReachStandard/reachStandardPDU',
				type: 'post',
				async: false,//是否异步，true为异步
 				data: {
		        	'area': $("#usertype1").selectpicker("val")==null?null:$("#usertype1").selectpicker("val").join(),//转换为字符串
		        	'hwpdu': $("#usertype3").selectpicker("val")==null?null:$("#usertype3").selectpicker("val").join(),//转换为字符串
					'hwzpdu': $("#usertype4").selectpicker("val")==null?null:$("#usertype4").selectpicker("val").join(),//转换为字符串
					'pduSpdt': $("#usertype5").selectpicker("val")==null?null:$("#usertype5").selectpicker("val").join(),//转换为字符串
					'bu': $("#usertype6").selectpicker("val")==null?null:$("#usertype6").selectpicker("val").join(),//转换为字符串
					'pdu': $("#usertype7").selectpicker("val")==null?null:$("#usertype7").selectpicker("val").join(),//转换为字符串
					'du': $("#usertype8").selectpicker("val")==null?null:$("#usertype8").selectpicker("val").join(),//转换为字符串
                    'clientType':$("#selectBig").selectpicker("val")=="2"?"0":"1",
					/* 'month' : $("#datepicker").val() */
				},
				success: function (data) {
					var type=new Array();
					var pdu=new Array();
					var valAll=new Array();
					var valReached=new Array();
					var valWarning=new Array();
					var valUnreached=new Array();
					_.each(data,function(list,index1){
						_.each(list,function(val,index2){
							if(val.name=="项目总数"){
								type[index1]="项目总数";
								pdu[index2]=val.pdu.substring(0,val.pdu.indexOf("/"));
								valAll[index2]=val.num;
								deptId[index2]=val.pdu.substring(val.pdu.indexOf("/")+1);
							}else if(val.name=="合格项目数"){
								type[index1]="合格项目数";
								pdu[index2]=val.pdu.substring(0,val.pdu.indexOf("/"));
								valReached[index2]=val.num;
								deptId[index2]=val.pdu.substring(val.pdu.indexOf("/")+1);
							}else if(val.name=="警告项目数"){
								type[index1]="警告项目数";
								pdu[index2]=val.pdu.substring(0,val.pdu.indexOf("/"));
								valWarning[index2]=val.num;
								deptId[index2]=val.pdu.substring(val.pdu.indexOf("/")+1);
							}else if(val.name=="不合格项目数"){
								type[index1]="不合格项目数";
								pdu[index2]=val.pdu.substring(0,val.pdu.indexOf("/"));
								valUnreached[index2]=val.num;
								deptId[index2]=val.pdu.substring(val.pdu.indexOf("/")+1);
							}
						})
					})
					var typeData=[];
					var pduData=[];
					var valData=[];
					pduData=pdu;
					typeData.push(type[0]);
					valData.push({
						name:type[0],
			            type:'bar',
			            barWidth:10,
			            barGap:0,
			            data:valAll,
			            itemStyle:{
							normal:{
								color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[
									{offset: 0, color: '#1344ec'}
								])				
							},				
			            }
			        });
					typeData.push(type[1]);
					valData.push({
						name:type[1],
			            type:'bar',
			            barWidth:10,
			            barGap:0,
			            data:valReached,
			            itemStyle:{
							normal:{
								color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[
									{offset: 0, color: '#44b349'}
								])				
							},				
			            }
			        });
					typeData.push(type[2]);
					valData.push({
						name:type[2],
			            type:'bar',
			            barWidth:10,
			            barGap:0,
			            data:valWarning,
			            itemStyle:{
							normal:{
								color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[
									{offset: 0, color: '#d5d52d'}
								])				
							},				
			            }
			        });
					typeData.push(type[3]);
					valData.push({
						name:type[3],
			            type:'bar',
			            barWidth:10,
			            barGap:0,
			            data:valUnreached,
			            itemStyle:{
							normal:{
								color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[
									{offset: 0, color: '#d23f2f'}
								])				
							},				
			            }
			        });
					chartsBAR(typeData,pduData,valData);
					var names=new Array();
					var counts=[0,0,0];
					var countData=[];
					_.each(valReached,function(val,index){
						counts[0]=counts[0]+val;
					})
					_.each(valWarning,function(val,index){
						counts[1]=counts[1]+val;
					})
					_.each(valUnreached,function(val,index){
						counts[2]=counts[2]+val;
					})
					names.push(type[1]);
					countData.push({
                    	name: type[1],
						value:counts[0],
						itemStyle:{
							normal:{
								color:'#44b349'
			                }
			            }
					});
					names.push(type[2]);
					countData.push({
                    	name: type[2],
						value:counts[1],
						itemStyle:{
							normal:{
								color:'#d5d52d'
			                }
			            }
					});
					names.push(type[3]);
					countData.push({
                    	name: type[3],
						value:counts[2],
						itemStyle:{
							normal:{
								color:'#d23f2f'
			                }
			            }
					});
					chartsBT(names,countData);
				}
			});
		}
		
		var options1 = null;
		function chartsBAR(typeData,pduData,valData){
			options1 = {
				    tooltip : {
				        trigger: 'axis',
				        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
				            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
				        }
				    },
				    legend: {
				        data:typeData
				    },
				    grid: {
				        left: '3%',
				        right: '4%',
				        bottom: '30%',
				        containLabel: true
				    },
				    xAxis : [
				        {
				            type : 'category',
				            data : pduData,
				            axisLabel : {//坐标轴刻度标签的相关设置。
				                interval:0,
				                rotate:45
				            }
				        },
				    ],
				    yAxis : [
				        {
				            type : 'value'
				        }
				    ],
				    series : valData
				};
			myCharts1.setOption(options1);
		}
		
		var options2=null;
		function chartsBT(names,countData){
			//低产出各原因饼图
			options2={
				//定义标题
				title:{
					
				},	
				//鼠标悬停
				tooltip: {
		        	trigger: 'item',
					formatter: '{b} ({d}%)'
		    	},
				//图标
				legend:{
					data:names
				},
				//指定图表类型
				series:[
					{
						type: 'pie',
		            	radius : '65%',
		            	center: ['50%', '50%'],
		            	selectedMode: 'single',
						data:countData
					}
				]
			}
			myCharts2.setOption(options2);
		}
		
		/* function changeDate(){
			$("#datepicker").change(function(){
				lowlocPDU();
			})
		} */
		
		$(document).ready(function(){

	  		var myChart=document.getElementById("reachStandardBar");
	  		myChart.style.width=(window.outerWidth-75)*0.65+'px';
	  		myCharts1=echarts.init(myChart);
	  		myChart=document.getElementById("reachStandardPie");
	  		myChart.style.width=(window.outerWidth-75)*0.35+'px';
	  		myCharts2=echarts.init(myChart);
	  		myCharts1.on('click',function (param) {
				if(param.seriesIndex=="3"){
					$("#unreached").css("display","");
					changeFrameHeight();
					//alert(deptId[param.dataIndex]);
					//alert(param.seriesIndex+':'+param.dataIndex+':'+param.seriesName+':'+param.name+':'+param.data+':'+param.value);
					$.ajax({
						url: getRootPath() + '/projectReachStandard/unreaches',
						type: 'post',
						async: false,//是否异步，true为异步
		 				data: {
				        	'area': $("#usertype1").selectpicker("val")==null?null:$("#usertype1").selectpicker("val").join(),//转换为字符串
				        	'hwpdu': $("#usertype3").selectpicker("val")==null?null:$("#usertype3").selectpicker("val").join(),//转换为字符串
							'hwzpdu': $("#usertype4").selectpicker("val")==null?null:$("#usertype4").selectpicker("val").join(),//转换为字符串
							'pduSpdt': $("#usertype5").selectpicker("val")==null?null:$("#usertype5").selectpicker("val").join(),//转换为字符串
							'bu': $("#usertype6").selectpicker("val")==null?null:$("#usertype6").selectpicker("val").join(),//转换为字符串
							'pdu': $("#usertype7").selectpicker("val")==null?null:$("#usertype7").selectpicker("val").join(),//转换为字符串
							'du': $("#usertype8").selectpicker("val")==null?null:$("#usertype8").selectpicker("val").join(),//转换为字符串
                            'clientType':$("#selectBig").selectpicker("val")=="2"?"0":"1",
							'projectType' : deptId[param.dataIndex]
						},
						success: function (data) {	
						  	var titleUnit = {};
				            var options = {
				                rownumbers: true,
				                striped: true,
				                pagination : true,
				                nowrap : false,//自动换行
								pagePosition : 'bottom',
					            onLoadSuccess:function(data){   
					                $('#projSummaryTable').datagrid('doCellTip',{cls:{},delay:1000, titleUnit:titleUnit, headerOverStyle:true});   
					            }  
				            };
				            columns:[[
				                {
				                    width:250, //当 fitColumns:true时，columns里的width变为改列宽度占表格总宽度大小的比例
				                },          
				            ]]
				            titleUnit = data.titleUnit;
			                var wdth = Math.round(100 / (data.gridTitles.length + 2));
			                var lastWd = wdth * (data.gridTitles.length + 2);
				            lastWd = 100 > lastWd ? (wdth + 100 - lastWd) : ( wdth - lastWd + 100);
				            _.each(data.gridTitles, function(val, index){
				            	val.sortable = false;
				            	val.width = wdth + '%';
				            	val.height = '52px';
				            	val.align= 'left';
				            	if(val.title == "项目名称"){
		                            val.width = wdth * 1.5 + '%';
				            		val.formatter = function(val, row){
				            			return '<a target="_blank" style="color: #721b77;" title="'+val +'" href="' +getRootPath()+ '/bu/projView?projNo=' + row['项目编码'] + '&a='+Math.random()+'">'+val+'</a>';
				            		};
				            	}
				            	if(val.title == "合格率"){
			                        val.width = wdth * 0.5 + '%';
				            		val.formatter = function(val, row){
				            			return val;
				            		};
				            	}
				            	if(val.title == "未达成指标个数"){
			                        val.width = wdth * 0.5 + '%';
				            		val.formatter = function(val, row){
				            			return val;
				            		};
				            	}
				            	if(val.title == "未达成指标"){
				            		val.width = wdth * 3 + '%';
				            		val.formatter = function(val, row){
				            			return val;
				            		};
				            	}
				            });
				            data.gridTitles[data.gridTitles.length -1].width = lastWd  + '%';
				            options.columns = [data.gridTitles];
				            options.pageNumber = 1;
				            $('#projSummaryTable').datagrid(options).datagrid('clientPaging');
							var p = $('#projSummaryTable').datagrid('getPager');
							$(p).pagination({
								pageSize : 10,// 每页显示的记录条数，默认为10
								pageList : [10,20,30],// 可以设置每页记录条数的列表
								beforePageText : '第',// 页数文本框前显示的汉字
								afterPageText : '页    共 {pages} 页',
								displayMsg : '当前显示 {from} - {to} 条记录   共 {total} 条记录',
							});
				        	var gridDatas = {};
				        	$.extend(true, gridDatas, data.gridDatas);
				            $('#projSummaryTable').datagrid("loadData", gridDatas);
						}
					})	
				}
			});
			
/* 			myCharts2.on("click", function (param){ 
				if(options2.series[0].data[param.dataIndex].name=="不合格项目数"){
					alert(param.dataIndex+':'+options2.series[0].data[param.dataIndex].name);
				}
				changeFrameHeight();
			}); */
			lowlocPDU();
			/* changeDate(); */
		})
    </script>
</body>
</html>