<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.mvp.dao.IGroupBoardDao">
    <resultMap id="groupAcceptance" type="com.icss.mvp.entity.GroupAcceptanceEntity">
        <result property="projectNo" column="NO"/>
        <result property="name" column="NAME"/>
        <result property="pm" column="PM"/>
        <result property="qa" column="QA"/>
        <result property="hwzpdu" column="pdu"/>
        <result property="pduSpdt" column="pduspt"/>
        <result property="statisticalTime" column="statistical_time"/>
        <result property="org" column="organization"/>
        <result property="orgId" column="organizationId"/>

        <result property="checkedProject" column="checkedProject"/>
        <result property="customerScoring" column="customerScoring"/>
        <result property="executedProject" column="executedProject"/>
        <result property="riskProject" column="riskProject"/>
        <result property="issueCloseLoop" column="issueCloseLoop"/>
        <result property="personnelArrival" column="personnelArrival"/>
        <result property="personnelStable" column="personnelStable"/>
        <result property="credibleProject" column="credibleProject"/>

        <result property="knotProject" column="knotProject"/>
        <result property="acceptanceKPI" column="acceptanceKPI"/>
        <result property="knotStarDistribution" column="knotStarDistribution"/>
        <result property="deduction" column="deduction"/>
    </resultMap>

    <resultMap id="projectStateNumber" type="com.icss.mvp.entity.ProjectStateNumber">
        <result property="projectNo" column="NO"/>
        <result property="name" column="NAME"/>
        <result property="pm" column="PM"/>
        <result property="pdu" column="pdu"/>
        <result property="pduspt" column="pduspt"/>
        <!--<result property="redState" column=""/>
        <result property="yellowState" column=""/>
        <result property="greenState" column=""/>
        <result property="redState1" column=""/>
        <result property="yellowState1" column=""/>
        <result property="greenState1" column=""/>
        <result property="red" column=""/>
        <result property="yellow" column=""/>
        <result property="red1" column=""/>
        <result property="yellow1" column=""/>-->
    </resultMap>

    <sql id="sql_status">
        <if test="hwpduId != null and hwpduId.size() != 0">
            AND `PI`.`HWPDUID` IN
            <foreach collection="hwpduId" item="item" separator=","
                     open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="hwzpduId != null and hwzpduId.size() != 0">
            AND `PI`.`HWZPDUID` IN
            <foreach collection="hwzpduId" item="item" separator=","
                     open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="pduSpdtId != null and pduSpdtId.size() != 0">
            AND `PI`.`PDU_SPDTID` IN
            <foreach collection="pduSpdtId" item="item" separator=","
                     open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="buId != null and buId.size() != 0">
            AND `PI`.`BUID` IN
            <foreach collection="buId" item="item" separator="," open="("
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="pduId != null and pduId.size() != 0">
            AND `PI`.`PDUID` IN
            <foreach collection="pduId" item="item" separator=","
                     open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="duId != null and duId.size() != 0">
            AND `PI`.`DUID` IN
            <foreach collection="duId" item="item" separator="," open="("
                     close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <sql id="three_organization">
        <if test='"firstOrgHw" == flag'>
            AND p.HWPDUID = #{id}
        </if>
        <if test='"firstOrgZr" == flag'>
            AND p.BUID = #{id}
        </if>
        <if test='"secondOrgHw" == flag'>
            AND p.HWZPDUID = #{id}
        </if>
        <if test='"secondOrgZr" == flag'>
            AND p.PDUID = #{id}
        </if>
        <if test='"thirdOrgHw" == flag'>
            AND p.PDU_SPDTID = #{id}
        </if>
        <if test='"thirdOrgZr" == flag'>
            AND p.DUID = #{id}
        </if>
    </sql>

    <!--一级组织机构集合-->
    <select id="getFirstOrganizations" resultType="java.util.Map">
        SELECT
        <if test='"hwpdu" == flag'>
            PI.HWPDU AS firstOrg, PI.HWPDUID AS firstOrgId
        </if>
        <if test='"bu" == flag'>
            PI.BU AS firstOrg, PI.BUID AS firstOrgId
        </if>
        FROM project_info PI
        WHERE PI.PROJECT_STATE = '在行'
        <if test=' "hwpdu" == flag and (hwpduId == null or hwpduId.size() == 0)'>
            AND PI.HWPDUID IN(1012, 1015)
        </if>
        <if test=' "bu" == flag and (buId == null or buId.size() == 0)'>
            AND PI.BUID = 100253
        </if>
        <if test='"hwpdu" == flag'>
            AND PI.HWPDUID != '' AND PI.HWPDU != ''
        </if>
        <if test='"bu" == flag'>
            AND PI.BUID != '' AND PI.BU != ''
        </if>
        <include refid="sql_status"/>
        <if test='"hwpdu" == flag'>
            GROUP BY PI.HWPDUID;
        </if>
        <if test='"bu" == flag'>
            GROUP BY PI.BUID;
        </if>
    </select>

    <!--二级组织机构集合-->
    <select id="getSecondOrganizations" resultType="java.util.Map">
        SELECT
        <if test='"hwpdu" == flag'>
            PI.HWZPDU AS secondOrg, PI.HWZPDUID AS secondOrgId
        </if>
        <if test='"bu" == flag'>
            PI.PDU AS secondOrg, PI.PDUID AS secondOrgId
        </if>
        FROM project_info PI
        WHERE PI.PROJECT_STATE = '在行'
        <if test='"hwpdu" == flag'>
            AND PI.HWZPDUID != '' AND PI.HWZPDU != ''
        </if>
        <if test='"bu" == flag'>
            AND PI.PDUID != '' AND PI.PDU != ''
        </if>
        <include refid="sql_status"/>
        <if test='"hwpdu" == flag'>
            GROUP BY PI.HWZPDUID;
        </if>
        <if test='"bu" == flag'>
            GROUP BY PI.PDUID;
        </if>
    </select>

    <!--三级组织机构集合-->
    <select id="getThirdOrganizations" resultType="java.util.Map">
        SELECT
        <if test='"hwzpdu" == flag'>
            PI.PDU_SPDT AS thirdOrg, PI.PDU_SPDTID AS thirdOrgId
        </if>
        <if test='"pdu" == flag'>
            PI.DU AS thirdOrg, PI.DUID AS thirdOrgId
        </if>
        FROM project_info PI
        WHERE PI.PROJECT_STATE = '在行'
        <if test='"hwzpdu" == flag'>
            AND PI.PDU_SPDTID != '' AND PI.PDU_SPDT != ''
        </if>
        <if test='"pdu" == flag'>
            AND PI.DUID != '' AND PI.DU != ''
        </if>
        <include refid="sql_status"/>
        <if test='"hwzpdu" == flag'>
            GROUP BY PI.PDU_SPDTID;
        </if>
        <if test='"pdu" == flag'>
            GROUP BY PI.DUID;
        </if>
    </select>

    <!--项目看板执行表-->
    <select id="queryProjectExecute" resultType="java.util.Map">
        SELECT PI.NO, PI.NAME, PI.PM, mb.NAME AS QA,
        <if test="0 == client">
            PI.HWZPDU AS pdu, PI.PDU_SPDT AS pduspt
        </if>
        <if test="1 == client">
            PI.PDU AS pdu, PI.DU AS pduspt
        </if>
        <foreach collection="monthList" item="item">
            , MAX(CASE pr.statistical_time WHEN #{item} THEN pr.project_status ELSE -1 END) #{item}
        </foreach>
        FROM project_info PI
        LEFT JOIN (
            SELECT pro_no, statistical_time, project_status
            FROM project_review
            WHERE statistical_time IN
            <foreach collection="monthList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            ORDER BY statistical_time DESC) pr
        ON PI.NO = pr.pro_no
        LEFT JOIN project_staff ps
        ON PI.NO = ps.NO AND ps.ROLE = 'QA' AND ps.IS_DELETED = 0
        LEFT JOIN member_base mb
        ON ps.ZR_ACCOUNT = mb.ZR_ACCOUNT
        WHERE PI.PMID = #{pm} AND PI.PROJECT_STATE = '在行'
        <if test="(hwpduId == null or hwpduId.size() == 0) and 0 == client">
            AND PI.HWPDUID IN (1012, 1015)
        </if>
        <if test="(hwpduId != null and hwpduId.size() != 0) or 1 == client">
            <include refid="sql_status"/>
        </if>
        <if test="null != pageSize and null != offset">
            LIMIT ${offset}, ${pageSize}
        </if>
    </select>

    <!--项目看板执行表count-->
    <select id="queryProjectExecuteCount" resultType="java.lang.Integer">
        SELECT COUNT(PI.NO)
        FROM project_info PI
        WHERE PI.PMID = #{pm} AND PI.PROJECT_STATE = '在行'
        <if test="(hwpduId == null or hwpduId.size() == 0) and 0 == client">
            AND PI.HWPDUID IN (1012, 1015)
        </if>
        <if test="(hwpduId != null and hwpduId.size() != 0) or 1 == client">
            <include refid="sql_status"/>
        </if>
    </select>

    <!--项目看板验收表-->
    <select id="queryProjectAcceptance" resultMap="groupAcceptance">
        SELECT PI.NO, PI.NAME, PI.PM, mb.NAME AS QA, pr.is_close AS knotProject,
        <if test="0 == client">
            PI.HWZPDU AS pdu, PI.PDU_SPDT AS pduspt
        </if>
        <if test="1 == client">
            PI.PDU AS pdu, PI.DU AS pduspt
        </if>
        FROM project_info PI
        LEFT JOIN project_review pr
        ON PI.NO = pr.pro_no
        LEFT JOIN project_staff ps
        ON PI.NO = ps.NO AND ps.ROLE = 'QA' AND ps.IS_DELETED = 0
        LEFT JOIN member_base mb
        ON ps.ZR_ACCOUNT = mb.ZR_ACCOUNT
        WHERE PI.PMID = #{pm} AND PI.PROJECT_STATE = '在行' AND pr.statistical_time = #{month}
        <if test="(hwpduId == null or hwpduId.size() == 0) and 0 == client">
            AND PI.HWPDUID IN (1012, 1015)
        </if>
        <if test="(hwpduId != null and hwpduId.size() != 0) or 1 == client">
            <include refid="sql_status"/>
        </if>
        <if test="null != pageSize and null != offset">
            LIMIT ${offset}, ${pageSize}
        </if>
    </select>

    <!--项目看板验收表count-->
    <select id="queryProjectAcceptanceCount" resultType="java.lang.Integer">
        SELECT COUNT(PI.NO)
        FROM project_info PI
        LEFT JOIN project_review pr
        ON PI.NO = pr.pro_no
        WHERE PI.PMID = #{pm} AND PI.PROJECT_STATE = '在行' AND pr.statistical_time = #{month}
        <if test="(hwpduId == null or hwpduId.size() == 0) and 0 == client">
            AND PI.HWPDUID IN (1012, 1015)
        </if>
        <if test="(hwpduId != null and hwpduId.size() != 0) or 1 == client">
            <include refid="sql_status"/>
        </if>
    </select>

    <!--组织看板验收表结项项目个数-->
    <select id="queryKnotProjectCount" resultType="java.lang.Integer">
        SELECT COUNT(pr.is_close)
        FROM project_review pr
        LEFT JOIN project_info p
        ON pr.pro_no = p.NO
        WHERE pr.statistical_time = #{month} AND pr.is_close = 1 AND p.PROJECT_STATE = '在行'
        <include refid="three_organization"/>
    </select>

    <!--组织看板总览表风险项目个数-->
    <select id="queryRiskProjectCount" resultType="java.lang.String">
        SELECT pr.project_status
        FROM  project_info p
        LEFT JOIN project_review pr
        ON p.NO = pr.pro_no AND pr.statistical_time = #{month}
        WHERE p.PROJECT_STATE = '在行'
        <include refid="three_organization"/>
    </select>

    <!--组织看板总览表执行项目个数-->
    <select id="queryExecutionProjectCount" resultType="java.lang.Integer">
        SELECT COUNT(pr.pro_no)
        FROM project_review pr
        LEFT JOIN project_info p
        ON pr.pro_no = p.NO
        WHERE pr.statistical_time = #{month} AND p.PROJECT_STATE = '在行'
        <include refid="three_organization"/>
    </select>

    <!--获取第二、第三组织部门-->
    <select id="getSecondAndThirdOrg" resultType="java.util.Map">
        SELECT
        <if test='0 == flag and "secondOrg" == orgFlag'>
            p.HWZPDU AS secondOrg, p.HWZPDUID AS secondOrgId
        </if>
        <if test='0 == flag and "thirdOrg" == orgFlag'>
            p.PDU_SPDT AS thirdOrg, p.PDU_SPDTID AS thirdOrgId
        </if>
        <if test='1 == flag and "secondOrg" == orgFlag'>
            p.PDU AS secondOrg, p.PDUID AS secondOrgId
        </if>
        <if test='1 == flag and "thirdOrg" == orgFlag'>
            p.DU AS thirdOrg, p.DUID AS thirdOrgId
        </if>
        FROM project_info p
        WHERE p.PROJECT_STATE = '在行'
        <if test='0 == flag and "secondOrg" == orgFlag'>
            AND p.HWPDUID IN (1012, 1015)
            AND p.HWZPDU != '' AND p.HWZPDUID != ''
            GROUP BY p.HWZPDUID
        </if>
        <if test='0 == flag and "thirdOrg" == orgFlag'>
            AND p.HWPDUID IN (1012, 1015)
            AND p.PDU_SPDT != '' AND p.PDU_SPDTID != ''
            GROUP BY p.PDU_SPDTID
        </if>
        <if test='1 == flag and "secondOrg" == orgFlag'>
            AND p.BUID = 100253
            AND p.PDU != '' AND p.PDUID != ''
            GROUP BY p.PDUID
        </if>
        <if test='1 == flag and "thirdOrg" == orgFlag'>
            AND p.BUID = 100253
            AND p.DU != '' AND p.DUID != ''
            GROUP BY p.DUID
        </if>
    </select>

    <!--获取第二组织部门的人员到位率和稳定度信息-->
    <select id="querySecondOrgPersonnel" resultType="java.util.Map">
        SELECT t.secondOrg, t.secondOrgId, SUM(t.personnel) AS personnel
        <if test='"arrival" == personFlag'>
            ,SUM(t.headcount) AS headCount
        </if>
        FROM (
            SELECT
            <if test='"secondOrgHw" == orgFlag'>
                p.HWZPDU AS secondOrg, p.HWZPDUID AS secondOrgId,
            </if>
            <if test='"secondOrgZr" == orgFlag'>
                p.PDU AS secondOrg, p.PDUID AS secondOrgId,
            </if>
            ps.NO, COUNT(ps.ZR_ACCOUNT) AS personnel
            <if test='"arrival" == personFlag'>
                ,mb.headcount
            </if>
            FROM project_info p
            <if test='"arrival" == personFlag'>
                LEFT JOIN manpower_budget mb
                ON p.NO = mb.pro_no
            </if>
            LEFT JOIN project_staff ps
            ON p.NO = ps.NO AND ps.IS_DELETED = 0
            <if test='"arrival" == personFlag'>
                AND ps.STATUS IN ('在岗', '后备')
            </if>
            <if test='"stable" == personFlag'>
                AND ps.STATUS IN ('在岗', '后备', '离职')
            </if>
            AND (ps.START_DATE &lt;= #{statisticalTime} AND ps.END_DATE &gt; #{lastTime})
            WHERE p.PROJECT_STATE = '在行'
            <if test='"secondOrgHw" == orgFlag'>
                AND p.HWZPDUID = #{orgId}
            </if>
            <if test='"secondOrgZr" == orgFlag'>
                AND p.PDUID = #{orgId}
            </if>
            GROUP BY ps.NO ) t
        GROUP BY t.secondOrgId
    </select>

    <!--获取第三组织部门的人员到位率和稳定度信息-->
    <select id="queryThirdOrgPersonnel" resultType="java.util.Map">
        SELECT t.thirdOrg, t.thirdOrgId, SUM(t.personnel) AS personnel
        <if test='"arrival" == personFlag'>
            ,SUM(t.headcount) AS headCount
        </if>
        FROM (
            SELECT
            <if test='"thirdOrgHw" == orgFlag'>
                p.PDU_SPDT AS thirdOrg, p.PDU_SPDTID AS thirdOrgId,
            </if>
            <if test='"thirdOrgZr" == orgFlag'>
                p.DU AS thirdOrg, p.DUID AS thirdOrgId,
            </if>
            ps.NO, COUNT(ps.ZR_ACCOUNT) AS personnel
            <if test='"arrival" == personFlag'>
                ,mb.headcount
            </if>
            FROM project_info p
            <if test='"arrival" == personFlag'>
                LEFT JOIN manpower_budget mb
                ON p.NO = mb.pro_no
            </if>
            LEFT JOIN project_staff ps
            ON p.NO = ps.NO AND ps.IS_DELETED = 0
            <if test='"arrival" == personFlag'>
                AND ps.STATUS IN ('在岗', '后备')
            </if>
            <if test='"stable" == personFlag'>
                AND ps.STATUS IN ('在岗', '后备', '离职')
            </if>
            AND (ps.START_DATE &lt;= #{statisticalTime} AND ps.END_DATE &gt; #{lastTime})
            WHERE p.PROJECT_STATE = '在行'
            <if test='"thirdOrgHw" == orgFlag'>
                AND p.PDU_SPDTID = #{orgId}
            </if>
            <if test='"thirdOrgZr" == orgFlag'>
                AND p.DUID = #{orgId}
            </if>
            GROUP BY ps.NO ) t
        GROUP BY t.thirdOrgId
    </select>

    <!--获取第二组织部门的问题闭环率信息-->
    <select id="querySecondOrgIssue" resultType="java.util.Map">
        SELECT t.secondOrg, t.secondOrgId, SUM(t.issueCount) AS issueCount
        FROM (SELECT
                <if test='"secondOrgHw" == orgFlag'>
                    p.HWZPDU AS secondOrg, p.HWZPDUID AS secondOrgId,
                </if>
                <if test='"secondOrgZr" == orgFlag'>
                    p.PDU AS secondOrg, p.PDUID AS secondOrgId,
                </if>
                COUNT(pmc.id) AS issueCount
                FROM project_info p
                <if test='"closed" == issueFlag'>
                    LEFT JOIN project_maturity_comments pmc
                    ON p.NO = pmc.NO AND pmc.is_deleted = 0
                    AND (pmc.state = 'Closed' AND pmc.actual_finish_time BETWEEN #{lastTime} AND #{statisticalTime})
                </if>
                <if test='"all" == issueFlag'>
                    LEFT JOIN project_maturity_comments pmc
                    ON p.NO = pmc.NO AND pmc.is_deleted = 0
                    AND (pmc.state IN('Closed', 'Open') AND pmc.actual_finish_time BETWEEN #{lastTime} AND #{statisticalTime})
                </if>
                WHERE p.PROJECT_STATE = '在行'
                <if test='"secondOrgHw" == orgFlag'>
                    AND p.HWZPDUID = #{orgId}
                </if>
                <if test='"secondOrgZr" == orgFlag'>
                    AND p.PDUID = #{orgId}
                </if>
                GROUP BY pmc.NO) t
        GROUP BY t.secondOrgId
    </select>

    <!--获取第三组织部门的问题闭环率信息-->
    <select id="queryThirdOrgIssue" resultType="java.util.Map">
        SELECT t.thirdOrg, t.thirdOrgId, SUM(t.issueCount) AS issueCount
        FROM (SELECT
        <if test='"thirdOrgHw" == orgFlag'>
            p.PDU_SPDT AS thirdOrg, p.PDU_SPDTID AS thirdOrgId,
        </if>
        <if test='"thirdOrgZr" == orgFlag'>
            p.DU AS thirdOrg, p.DUID AS thirdOrgId,
        </if>
        COUNT(pmc.id) AS issueCount
        FROM project_info p
        <if test='"closed" == issueFlag'>
            LEFT JOIN project_maturity_comments pmc
            ON p.NO = pmc.NO AND pmc.is_deleted = 0
            AND (pmc.state = 'Closed' AND pmc.actual_finish_time BETWEEN #{lastTime} AND #{statisticalTime})
        </if>
        <if test='"all" == issueFlag'>
            LEFT JOIN project_maturity_comments pmc
            ON p.NO = pmc.NO AND pmc.is_deleted = 0
            AND (pmc.state IN('Closed', 'Open') AND pmc.actual_finish_time BETWEEN #{lastTime} AND #{statisticalTime})
        </if>
        WHERE p.PROJECT_STATE = '在行'
        <if test='"thirdOrgHw" == orgFlag'>
            AND p.PDU_SPDTID = #{orgId}
        </if>
        <if test='"thirdOrgZr" == orgFlag'>
            AND p.DUID = #{orgId}
        </if>
        GROUP BY pmc.NO) t
        GROUP BY t.thirdOrgId
    </select>

    <!--将组织看板总览和验收表信息存到board_org_info表-->
    <insert id="updateGroupOverview">
        REPLACE INTO board_org_info
        (create_time, modify_time, statistical_time, organization, organizationId, checkedProject, customerScoring,
        executedProject, riskProject, issueCloseLoop, personnelArrival, personnelStable, credibleProject, knotProject,
        acceptanceKPI, knotStarDistribution, deduction)
        VALUES(NOW(), NOW(), #{groupAcc.statisticalTime}, #{groupAcc.org}, #{groupAcc.orgId}, #{groupAcc.checkedProject},
        #{groupAcc.customerScoring}, #{groupAcc.executedProject}, #{groupAcc.riskProject}, #{groupAcc.issueCloseLoop},
        #{groupAcc.personnelArrival}, #{groupAcc.personnelStable}, #{groupAcc.credibleProject}, #{groupAcc.knotProject},
        #{groupAcc.acceptanceKPI}, #{groupAcc.knotStarDistribution}, #{groupAcc.deduction})
    </insert>

    <!--获取看板总览表和验收表信息-->
    <select id="queryBoardInfo" resultMap="groupAcceptance">
        SELECT
        boi.organization,
        boi.organizationId,
        boi.checkedProject,
        boi.customerScoring,
        boi.executedProject,
        boi.riskProject,
        boi.issueCloseLoop,
        boi.personnelArrival,
        boi.personnelStable,
        boi.credibleProject,
        boi.knotProject,
        boi.acceptanceKPI,
        boi.knotStarDistribution,
        boi.deduction
        FROM board_org_info boi
        WHERE boi.statistical_time = #{statisticalTime} AND boi.organizationId = #{orgId}
    </select>

</mapper>