<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.mvp.dao.InstrumentPanelDAO">
	
	<select id="needs" parameterType="java.lang.String" resultType="java.lang.Integer">
	<![CDATA[
		select count(*) from iterative_work_manage iwm where iwm.ite_type=1 
		and iwm.is_deleted=0 and iwm.pro_no=#{no}
	]]>
	</select>
	
	<select id="closedNeeds" parameterType="java.lang.String" resultType="java.lang.Integer">
	<![CDATA[
		select count(*) from iterative_work_manage iwm where iwm.`ite_type`=1
        and iwm.`status` = 6
        and IFNULL(iwm.`end_time`,now())<=now()
		and iwm.`is_deleted`=0 and iwm.`pro_no`=#{no}
	]]>
	</select>
	
	<delete id="delete" parameterType="java.lang.String">
		delete from project_parameter_value_new where NO=#{no} and PARAMETER_ID=#{id}
	</delete>
	
	<insert id="insert" parameterType="com.icss.mvp.entity.ParameterValueNew">
		insert into project_parameter_value_new values(#{no},now(),#{parameterId},#{value})
	</insert>
	
	<select id="codeValue" parameterType="java.lang.String" resultType="java.lang.Double">
		select VALUE from project_parameter_value_new where NO=#{no} and PARAMETER_ID=#{id} 
		order by MONTH desc limit 1
	</select>
	<select id="value" parameterType="java.lang.String" resultType="java.lang.Double">
		select VALUE from project_parameter_value_new where NO=#{no} and PARAMETER_ID=#{id} 
	</select>
	
	<select id="instrumentPanel" parameterType="java.lang.String" resultType="com.icss.mvp.entity.ParameterInfo">
		select pi.ID,pi.NAME,pi.PARAMETER from parameter_info pi where pi.ID=#{id}
	</select>
	
	<select id="instrumentPanelValue" parameterType="java.lang.String" resultType="java.lang.String">
		select PARAMETER from project_parameter where NO=#{no} and PARAMETER_ID=#{id}
	</select>
	
	<delete id="deleteInstrumentPanelValue" parameterType="java.lang.String"> 
		delete from project_parameter where NO=#{no} and PARAMETER_ID=#{id}
	</delete>
	
	<insert id="insertInstrumentPanelValue" parameterType="com.icss.mvp.entity.ProjectParameter">
		insert into project_parameter(NO,PARAMETER_ID,PARAMETER,IS_DISPLAY,CREATE_DATE,CREATOR) 
			values(#{no},#{parameterId},#{parameter},#{isDisplay},now(),'admin')
	</insert>
	<select id="queryPrStartDate" parameterType="java.lang.String" resultType="java.util.Date">
		select START_DATE from project_info where NO=#{no} 
	</select>
</mapper>